$color-base: #1387FF;	// Main Primary color */
$color-highlight: #ABD4FF;
$color-secondary: #7BBCFF;
$color-dark: #00458D;
$color-darkest: #00356D;

// Navigation 
$color-nav: $color-base;
$color-navborder: $color-darkest;
$color-navtext: white;
$color-navhover: black;
$color-navactive: white;
$color-navvisited: white;

// metis menu
$color-sidebar:#385777;
$color-sidebartext:white;
$color-textmain:#ddd;
$color-textmainhover:white;
$color-mainhover:#2d363f;
$color-textmainactive:white;
$color-mainactive:#367dce;
$color-sideopen:#333e48;
$color-textsubmain:#333e48; 
$color-textsubactive:white;
$color-subactive:#53a3ff;
