<footer>
<div class="adminFoot">
<div class="row">
    <div class="col-md-12 text-center">
        <p id="footText">{{config "sitetag"}}</p>
    </div>
</div>
<hr>
<ul class="footMenu text-center">
    <li><a href="/account">My Account</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/help">Help</a></li>
    <li><a href="/privacy">Privacy</a></li>
    <li><a href="/terms">Terms</a></li>
    <li> © {{config "copyright"}}</li>
</ul>
</div>
</footer>