<div class="leftmenu col-md-4">
<h3 class="text-center"> Menu </h3>
<ul style="list-style:none">
	<li><a href="admin/domain">Domains</a></li>
	<li><a href="/manage">Hosting</a></li>
	<li><a href="/admin/hosting">Digital Ocean Control</a></li>
</ul>
</div>