<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h2 class="text-center">Dashboard</h2>
		<ul style="list-style:none; padding:0">
			<li class="text-center"><a href="/dashboard/domain">Manage Domains</a></li>
			<li class="text-center"><a href="/dashboard/hosting">Manage Hosting</a></li>
		</ul>
	</div>
</div>
